<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title th:text="${product.name}"></title>
    <div th:insert="~{parts/general::import}"></div>
</head>
<body>
<div th:insert="~{parts/navbar::nav}"></div>
<div class="container">
    <div class="row mt-5">
        <div class="col w-25" th:if="${product.fileName}">
            <img style="width: 350px; height: 450px; object-fit: cover" th:src="@{'/img/' + ${product.fileName}}" class="img-thumbnail">
        </div>
        <div class="col w-75">
            <div class="row">
                <h2 th:text="${product.name}"></h2>
            </div>
            <div class="row">
                <p th:text="${product.description}"></p>
            </div>
            <div class="row">
                <p>Cost:</p>
                <p th:text="${product.cost}"></p>
            </div>
            <div class="row">
                <p>Amount: </p>
                <p th:text="${product.amount}"></p>
            </div>
            <form th:action="@{/cart/add}" method="POST" class="row">
                <input hidden th:value="${product.id}" name="id">
                <input hidden th:value="1" name="amount">
                <button type="submit" class="btn btn-success">Add to cart</button>
            </form>
        </div>
    </div>
</div>

<div th:insert="~{parts/scripts::copy}"></div>
</body>
</html>