<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bntu Shop</title>
    <div th:insert="~{parts/general::import}"></div>
</head>
<body>
<div class="intro">
    <div style=" width: 100%;
    max-width: 1200px;
    margin: 0 auto;">
        <div class="intro__inner">
            <h1 class="intro__title">Bntu store</h1>
            <a class="my-btn" href="/products">Start shopping</a>
        </div>
    </div>
</div>
<div th:insert="~{parts/scripts::copy}"></div>
</body>
</html>